
<h1>Gombok</h1>

<a class="btn btn-danger" href="http://index.hu">Index hírportál</a>

<table class="table table-striped">
    <tr>
        <th>Név</th>
        <th>Életkor</th>
        <th>Munka</th>
    </tr>
    <tr>
        <td>Géza</td>
        <td>45</td>
        <td>lakatos</td>
    </tr>
    <tr>
        <td>Géza</td>
        <td>45</td>
        <td>lakatos</td>
    </tr>
    <tr>
        <td>Géza</td>
        <td>45</td>
        <td>lakatos</td>
    </tr>
    <tr>
        <td>Géza</td>
        <td>45</td>
        <td>lakatos</td>
    </tr>
    <tr>
        <td>Géza</td>
        <td>45</td>
        <td>lakatos</td>
    </tr>
</table>